.makeGroup {
  display: flex;
  justify-content: center;
}

.makeGroupButton {

}

.businessTypeButtons {
  margin: 10px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 90%;
  a {
   background: #999;
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
  }
}

.chatBox {
  border-style: solid;
  border-width: 5px;
}

.btn-circle {
  width: 80px;
  height: 80px;
  /*text-align: center;*/
  /*padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;*/
  border-radius: 15px;
}

.btn-circle2 {
  width: 40px;
  height: 40px;
  /*text-align: center;*/
  /*padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;*/
  margin-bottom: 10px;
  border-radius: 20px;
  /*text-align: center;*/
}

.plusMinus-button {
  margin-left: 30%
}

.voting-image {width: 400px;
height: 400px;
}
